<%- include('includes/head')%>
<%- include('includes/nav')%>
    
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Minha agenda personalizada</p>

      <div class="responsible-table">
        <table class="table" my-3>
          <tr>
            <td>Name</td>
            <td>Last Name</td>
            <td>99999 9999</td>
            <td>email@email.com</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('includes/footer') %> 
    